# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here

orders = pd.read_csv('Orders.csv')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [3]:
orders.shape

(397924, 14)

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [4]:
# sub 1. aggregate the amount_spent for unique customers
agg_amount_spent = orders.groupby(['CustomerID'])['amount_spent'].sum()
agg_amount_spent

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2094.88
18287     1837.28
Name: amount_spent, Length: 4339, dtype: float64

In [6]:
orders['sum_amount_spent'] = orders.groupby('CustomerID')['amount_spent'].transform(np.sum)
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,sum_amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,5391.21
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,5391.21
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21

#### VIP costumers

In [7]:
# sub 2. select customers whose aggregated amount_spent is in a given quantile range
vip_threshold = np.percentile(agg_amount_spent, 95)
print(vip_threshold)

5840.181999999983

In [15]:
vip_costumers = orders.loc[(orders['sum_amount_spent'] > vip_threshold)]
vip_costumers.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,sum_amount_spent
26,26,536370,22728,2010,12,3,8,alarm clock bakelike pink,24,2010-12-01 08:45:00,3.75,12583,France,90.0,7281.38
27,27,536370,22727,2010,12,3,8,alarm clock bakelike red,24,2010-12-01 08:45:00,3.75,12583,France,90.0,7281.38
28,28,536370,22726,2010,12,3,8,alarm clock bakelike green,12,2010-12-01 08:45:00,3.75,12583,France,45.0,7281.38
29,29,536370,21724,2010,12,3,8,panda and bunnies sticker sheet,12,2010-12-01 08:45:00,0.85,12583,France,10.2,7281.38
30,30,536370,21883,2010,12,3,8,stars gift tape,24,2010-12-01 08:45:00,0.65,12583,France,15.6,7281.38

In [9]:
vip_costumers.shape

(104484, 15)

In [51]:
#List of cosumers ID in the 95th percentile 
vip_costumers_IDs = list(vip_costumers.CustomerID.unique())
print(vip_costumers_IDs)

[12583, 15311, 16029, 12431, 17511, 13408, 13767, 15513, 13694, 14849, 16210, 12748, 12433, 14911, 17841, 13093, 12921, 13777, 18229, 14606, 13576, 13090, 15694, 17017, 15601, 13418, 14060, 17381, 17581, 15061, 15640, 14031, 12971, 13798, 17396, 14156, 14680, 12557, 16013, 17949, 12682, 15769, 13081, 17243, 15465, 13089, 16033, 18055, 18109, 16839, 16814, 12567, 16353, 14527, 15023, 12472, 16422, 15502, 17677, 17428, 15039, 15078, 14667, 15194, 17450, 12681, 17735, 15838, 14733, 13488, 17675, 18102, 13078, 12709, 16779, 14796, 13199, 17706, 16525, 16558, 15498, 14051, 16713, 13113, 12766, 15005, 14866, 17340, 18092, 15358, 13319, 12621, 12683, 13854, 17857, 15856, 13102, 13969, 12471, 12731, 16656, 14952, 12989, 17865, 16873, 14062, 16923, 12753, 13668, 15044, 14505, 12540, 13225, 13209, 17338, 12476, 15159, 13324, 14961, 14057, 14298, 17404, 14415, 13097, 13458, 15290, 15615, 15482, 16705, 12980, 16746, 13534, 14735, 18223, 16684, 12931, 14769, 17315, 12705, 14646, 13027, 12678, 17306, 13629, 16532, 12415, 14258, 12939, 17811, 15189, 15749, 12359, 15939, 17389, 12474, 16843, 12626, 13001, 14101, 12346, 13263, 12451, 12637, 14088, 12744, 16133, 13098, 16523, 13709, 15144, 13881, 16745, 16333, 13871, 14194, 12477, 16126, 14944, 13018, 15382, 16182, 14895, 18172, 17139, 16187, 14056, 12428, 17416, 17107, 13340, 14367, 14936, 16652, 15125, 12901, 12435, 16672, 13985, 14607, 15249, 13316, 16180, 15251, 16729, 12590, 12757, 16446, 12409, 15098, 12830, 12798, 14096, 17509, 12536, 12357, 18139, 16000]

#### Preferred costumers

In [11]:
preferred_threshold = np.percentile(agg_amount_spent, 75)

print(preferred_threshold)

1661.6400000000003

In [59]:
preferred_costumers = orders.loc[(orders['sum_amount_spent'] > preferred_threshold) & (orders['sum_amount_spent'] <= vip_threshold)]
preferred_costumers.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,sum_amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,5391.21
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,5391.21
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21

In [13]:
preferred_costumers.shape

(151781, 15)

In [50]:
#List of cosumer IDs in the 75th-95th percentile ()
preferred_costumers_IDs = list(preferred_costumers.CustomerID.unique())
print(preferred_costumers_IDs)

[17850, 13047, 15291, 14688, 17809, 16098, 17924, 13448, 16218, 14307, 17920, 13758, 17377, 14001, 12662, 15485, 18144, 16456, 17346, 17873, 13468, 16928, 14696, 17690, 17069, 15235, 15752, 13941, 14135, 14388, 18041, 15955, 14390, 15260, 13305, 15544, 15738, 15827, 14180, 14466, 16186, 17685, 17567, 17838, 17228, 17659, 15299, 17757, 16754, 14395, 15093, 16150, 13520, 12841, 16905, 13013, 14210, 16477, 12600, 12779, 17787, 17954, 17819, 12712, 15373, 17238, 12395, 16455, 13069, 16241, 14800, 15708, 16168, 16931, 15351, 13269, 14810, 18118, 13831, 16983, 17059, 16327, 17211, 15570, 15808, 17858, 16393, 17863, 17402, 12647, 15867, 14506, 15555, 16143, 12720, 12747, 17965, 13174, 16161, 18219, 16638, 13094, 12708, 14189, 16719, 15301, 14825, 17596, 14085, 16919, 16722, 16710, 15984, 17682, 16550, 17068, 15356, 17191, 14409, 13495, 17519, 17218, 14215, 12913, 13564, 17091, 14907, 13756, 17491, 14282, 14673, 13769, 16904, 13880, 12347, 14739, 16293, 17419, 16775, 17591, 12839, 17870, 13267, 13050, 15628, 13599, 18077, 17406, 15750, 13983, 13842, 14032, 16081, 17975, 13126, 15021, 15529, 17722, 15032, 17213, 18061, 14217, 18259, 15298, 13523, 15581, 14766, 14030, 16700, 16011, 17655, 16717, 14243, 12963, 12481, 14299, 12755, 16782, 12429, 14440, 15271, 13982, 15288, 16255, 15380, 15811, 13327, 18225, 17576, 14713, 14702, 13230, 17530, 15805, 17696, 17827, 16265, 17790, 14543, 16019, 18065, 13148, 14107, 15514, 17220, 14159, 17188, 15547, 15998, 17937, 14608, 13198, 14290, 13999, 14498, 15854, 16701, 14544, 17799, 14565, 14639, 17611, 17231, 17293, 14525, 18075, 14524, 16458, 13178, 18044, 16191, 12370, 16556, 16553, 17739, 12867, 14401, 16145, 17629, 16954, 17449, 17230, 15950, 16003, 13426, 15641, 13124, 12928, 15727, 16607, 13317, 13890, 17001, 13021, 14841, 16670, 16985, 16743, 15394, 14621, 15379, 14309, 14709, 15157, 17744, 16316, 14092, 14334, 16945, 18260, 12348, 13004, 14560, 12782, 12417, 12726, 14016, 13869, 14146, 12668, 14472, 16686, 18245, 16153, 14099, 12721, 14113, 17090, 15527, 18097, 15034, 12423, 17400, 17593, 13953, 14533, 12383, 12585, 16875, 12957, 14462, 13680, 12483, 17457, 14732, 14221, 14653, 16771, 15046, 13082, 18226, 17368, 15719, 17634, 18283, 15845, 14828, 12530, 12501, 18198, 12484, 18179, 12480, 13593, 13162, 13183, 16326, 16735, 14755, 16549, 13451, 12539, 12500, 12524, 16497, 16303, 15281, 15370, 12643, 17365, 15518, 14209, 13784, 13862, 16791, 12523, 16655, 16359, 12437, 14040, 17364, 13993, 14978, 13246, 15687, 12578, 12490, 12553, 14175, 15033, 14329, 16401, 13700, 13048, 18069, 15673, 12388, 13527, 15696, 15296, 17730, 12356, 15606, 17602, 14572, 16912, 12594, 17504, 12664, 16618, 12916, 17769, 15443, 13742, 12727, 17861, 14439, 12625, 15179, 12935, 15797, 13901, 14257, 15218, 13815, 18008, 14534, 14341, 17082, 14049, 15812, 16409, 12764, 14701, 12645, 16767, 14239, 15549, 15864, 13552, 12853, 14659, 13141, 15365, 14595, 17463, 14502, 12528, 14426, 17314, 18145, 14776, 16407, 15058, 15240, 17147, 16570, 12836, 13802, 15203, 15981, 15971, 14665, 16156, 13824, 15270, 14188, 17337, 17071, 13394, 12502, 17672, 16938, 12754, 13137, 13725, 13911, 14842, 17613, 13334, 17162, 14562, 13590, 17940, 17686, 18093, 18230, 15796, 15114, 17705, 17512, 13875, 17282, 17050, 17667, 13381, 13157, 16979, 17612, 14935, 12455, 14530, 12653, 12823, 12352, 17422, 18257, 12362, 15903, 15785, 14211, 15228, 13012, 12714, 15755, 16115, 18094, 15129, 15321, 15065, 18087, 15722, 17442, 18188, 13421, 13285, 13184, 13804, 16940, 13149, 15932, 18231, 14004, 15974, 13851, 12633, 13870, 16592, 13362, 16841, 17663, 13971, 13630, 16057, 12598, 14227, 15874, 15676, 15241, 14676, 14292, 15416, 16678, 13722, 14934, 15067, 16128, 15622, 17738, 17426, 16709, 17652, 17700, 13014, 15220, 12584, 14903, 15572, 13344, 17092, 16242, 15834, 15764, 15819, 14407, 13908, 12758, 13975, 14730, 13373, 16712, 16426, 17049, 14112, 15367, 14291, 15632, 18173, 14854, 14930, 13265, 12520, 13654, 17164, 15671, 16871, 15493, 15150, 14226, 16152, 12597, 12955, 17716, 13650, 13268, 18210, 13631, 14422, 17725, 15861, 14110, 16626, 14315, 17133, 17043, 12948, 14232, 12407, 15140, 12843, 14408, 14245, 17152, 17272, 14711, 13196, 12613, 15410, 14461, 15245, 16308, 17644, 14235, 17754, 12408, 15815, 13695, 13139, 17625, 13481, 13266, 12669, 17719, 14441, 16253, 13588, 12456, 15521, 15674, 13988, 15980, 16398, 17088, 13571, 12909, 12619, 16698, 16681, 13883, 16609, 12949, 14852, 12569, 17758, 17669, 17648, 13015, 14546, 14535, 16170, 13771, 18272, 16209, 16837, 13562, 13632, 15665, 14286, 12910, 13577, 17160, 14844, 14262, 13134, 17589, 16966, 14834, 16131, 16249, 17930, 14482, 14163, 12457, 13952, 18079, 14700, 15491, 16628, 13647, 15594, 13735, 16633, 12656, 14626, 14868, 12670, 13505, 17061, 16942, 14640, 12840, 14655, 14191, 16258, 14515, 13450, 18241, 13365, 14145, 18235, 14005, 15704, 16007, 12700, 16440, 17723, 18242, 17597, 14397, 12684, 12749, 14691, 13136, 14277, 15187, 14364, 16076, 12674, 13456, 15123, 17702, 16818, 17469, 16813, 13658, 18287, 13555, 16341, 12360, 15804, 12562, 18073, 13135, 12876, 18204, 12473, 13437, 12517, 13435, 15152, 12449, 12380, 17015, 17828, 16358, 13115, 13510, 12406, 14132, 16107, 15267, 13517, 14503, 13384, 17651, 17490, 17193, 14285, 17444, 14808, 12432, 12444, 12704, 12615, 17768, 17386, 13895, 16671, 17750, 17997, 12424, 15505, 14459, 14493, 12635, 17353, 13224, 18122, 12405, 13994, 17554, 13507, 16474, 12560, 16764, 18180, 14456, 16041, 12438, 12627, 15372, 14305, 12397, 15105, 17173, 16984, 12378, 17656, 16102, 15089, 12610, 12381, 16902, 15786, 12688, 12518, 16201, 14387, 14418, 13644, 17451, 17183, 13808, 13949, 14360, 12685, 17317, 14250, 14432, 15782, 16360, 13704, 18251, 17728, 14306, 17679, 17434, 17846, 15947, 12752, 15341, 14887, 16379, 15484, 12906, 14125, 16240, 16169, 17131, 13536, 12783, 16281, 13924, 17528, 15050, 17813, 13297, 13422, 17086, 12856, 13763, 13755, 16380, 15473, 13685, 17203, 14121, 12371, 14251, 12454, 14547, 15113, 14554, 15814, 13471, 15993, 12912, 13868, 14216, 17084, 17313, 16751, 16986, 15531, 12762, 12950, 12349, 15195]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [65]:
# your code here
vip_country = vip_costumers.groupby(['Country'])['CustomerID'].nunique().sort_values(ascending = False)
vip_country.head(1)

Country
United Kingdom    177
Name: CustomerID, dtype: int64

In [28]:
print('The Country with most VIP costumers is', vip_country.index[0])

The Country with most VIP costumers is United Kingdom

In [44]:
#to check: the sum of the above with the unique list of VIPcostumers IDs created in Q1 

vip_country.sum() == len(vip_costumers_IDs)+1

True

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [62]:
# dataframes together

vip_preferred = preferred_costumers.append(vip_costumers)
vip_preferred.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,sum_amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,5391.21
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,5391.21
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21

In [67]:
vip_preferred.shape

(256265, 15)

In [76]:
#confirm
len(vip_costumers_IDs) + len(preferred_costumers_IDs) == len(list(vip_preferred.CustomerID.unique()))

True

In [78]:
vip_preferred_country = vip_preferred.groupby(['Country'])['CustomerID'].nunique().sort_values(ascending = False)
vip_preferred_country.head(1)

Country
United Kingdom    932
Name: CustomerID, dtype: int64

In [79]:
print('The Country with most VIP and Preferred costumers combined is', vip_preferred_country.index[0])

The Country with most VIP and Preferred costumers combined is United Kingdom